<!DOCTYPE html>
<html>
  <head>
    <title>Ideas</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= link_to 'All Ideas', ideas_path %>
    |
    <% if user_signed_in? %>
      Hello <%= current_user.first_name %>
      <%= link_to 'New Idea', new_idea_path %>
      <%= link_to 'Sign out', sessions_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_user_path %>
      <%= link_to 'Sign In', new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
